.App {
  text-align: center;
}

.App-header {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DC5F00;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input, select {
  padding: 5px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #686D76;
  border: none;
  cursor:pointer;
  border-radius: 5px;
  color: #ffffff;
}

button:hover {
  background-color: #373A40;
}

.card{
  border: 2px solid black;
  border-radius: 10px;
}
.data{
  border-radius: 5px;
  border:1px solid black;
  padding: 10px;
  margin:5px;

}

.edit{
  background-color: #686D76;
  border-radius: 5px;
  border:1px solid black;
  margin:10px;
}
.edit:hover{
  background-color: yellow;
}
.delete:hover{
  background-color: red;
}

.delete{
  background-color: #686D76;
  border-radius: 5px;
  border:1px solid black;
}